defaultColor = #ffffff
defaultBorderColor = #e8dcdb
primaryColor = #f1efef
secondaryColor = #f1efef

colorSuccess = #6b9371
bgSuccess = #6b9371

colorError = #ad2c23
bgError = #ad2c23

colorWarning = #efb42d
bgWarning = #efb42d

colorInfo = #5FD3EF
bgInfo = #5FD3EF

defaultColorText = #d0d0d0
bgDefault = #d0d0d0

bgText = #d0d0d0

smallFontSize = 0.8em
defaultFontSize = 1em
mediumFontSize = 1.2em
bigFontSize = 1.4px



