.app-card
    width 100%
    padding 20px
    align-items center
    .app-card-title
        background-color rgba(112, 100, 93, 0.702)
        padding 14px 0
        display flex
        margin-bottom: 2px;
        align-items center
        width: calc(100% - 1px)
        flex-wrap nowrap
        .app-card-title__text
            font-size 18px    
            margin-left 20px
            display flex
            flex-grow 1
            padding 0
            align-items center
        .app-card-title__icon
            font-size 30px
            color #fff
            margin-left 15px
            align-items center
    .app-card-text
        width calc(100% - 1px)
        background-color rgba(112, 100, 93, 0.702)
        padding: 10px
        
        
        

