@import "../vars.styl"
.app-container
    display flex
    width 100%
    height 100%
    flex-wrap wrap
    background-color: transparent
    overflow hidden
    &.inner
        height calc(100% - 70px)
    &.overflow-scroll
        overflow hidden
        overflow-y auto
