.justify-right
    justify-content flex-end
.justify-left
    justify-content flex-start
.justify-center
    justify-content center

.text-left
    text-align left
.text-right
    text-align right
.text-center
    text-align center
.column
    flex-direction  column
