for num in (0..20) 
    .m-l-{num * 5}
        margin-left: num * 5px

for num in (0..20) 
    .m-r-{num * 5}
        margin-right: num * 5px

for num in (0..20) 
    .m-t-{num * 5}
        margin-top: num * 5px

for num in (0..20) 
    .m-b-{num * 5}
        margin-bottom: num * 5px

for num in (0..20) 
    .m-{num * 5}
        margin: num * 5px

