for num in (0..20) 
    .p-l-{num * 5}
        padding-left: num * 5px

for num in (0..20) 
    .p-r-{num * 5}
        padding-right: num * 5px

for num in (0..20) 
    .p-t-{num * 5}
        padding-top: num * 5px

for num in (0..20) 
    .p-b-{num * 5}
        padding-bottom: num * 5px

for num in (0..20) 
    .p-{num * 5}
        padding: num * 5px

